body.light .header {
  background: linear-gradient(0deg, #faf9fb 0%, #f3f2f4 100%);
}
body.light .nav_link {
  color: #a7a0b6;
}
body.light .nav_link_active {
  color: #706781;
}
body.light img.ethereum {
  background: #fff;
}
body.light .wallet {
  background-color: #faf9fb;
  box-shadow: 0px 2.12866px 10.0172px rgba(22, 6, 172, 0.02), 0px 1.13052px 5.32008px rgba(22, 6, 172, 0.0161557), 0px 0.470434px 2.21381px rgba(22, 6, 172, 0.0112458);
}

body.light .filter_btn_wrap {
  background: #eae9ed;
}
body.light .filter_btn_wrap button {
  color: #44414c;
}
body.light .filter_btn_wrap button.active {
  background-color: #fff;
}
body.light .filter_menu ul li {
  color: #706781;
}

body.light .filter_menu ul li.active {
  color: #9360ff;
  border-bottom-color: #9360ff;
}
